body {
    margin: 0;
    background-color: #FFFDE3;
}

.title-text {
    color: #CFE8A9;
    text-align: center;
}

.inner-container {
    color: #E64848;
    width: 100%;
}
.footer-container {
    position: relative;
    bottom: 0;
    text-align: left;
    padding: 20px 0 20px 0;
}

.title-footer {
    background-color: #C21010;
    display: inline-block;
    width: 100%;
    color: #CFE8A9;
}

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 1200px) {

}

@media (min-width: 1201px) and (max-width: 1741px) {
    
}

@media (min-width: 1742px) {
    body {
        font-size: 2rem;
    }
    .title-text {
        font-size: 4rem;
    }
    .outer-container {
        margin: 100px;
        margin-bottom: 1620px;
    }
    .inner-container-text {
        float: left;
        width: 60%;
    }
    .rightside-image {
        float: right;
        width: 40%;
    }
    .footer-container {
        font-size: 1.5rem;
    }
    footer {
        margin-left: 50px;
    }
}
