body {
    background-color: rgb(238, 238, 238);
    font-size: 18px;
}

header > li {
    color: rgb(104, 109, 118);
}

h3 {
    color: rgb(220, 95, 0);
}

h1, .hlink {
    background-color: rgb(55, 58, 64);
    color: rgb(238, 238, 238);
    text-align: center;
}

.header-container {
    background-color: rgb(55, 58, 64);
    display: inline-block;
    width: 100%
}

.outer-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.inner-container {
    background-color: rgb(104, 109, 118);
    color: rgb(238, 238, 238);
}

.footer-container {
    display: inline-block;
    background-color: rgb(55, 58, 64);
    color: rgb(238, 238, 238);
    width: 100%;
    text-align: center;
}