body {
    font-size: 18px;
    margin: 0;
    background-color: rgb(104, 109, 118);
}

header > li {
    color: rgb(104, 109, 118);
}

h3 {
    color: rgb(220, 95, 0);
}

h1, .hlink {
    background-color: rgb(55, 58, 64);
    color: rgb(238, 238, 238);
    text-align: center;
}

.header-container {
    background-color: rgb(55, 58, 64);
    display: inline-block;
    width: 100%;
}

.inner-container {
    color: rgb(238, 238, 238);

    /* Center Content  */
    max-width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.footer-container {
    display: inline-block;
    background-color: rgb(55, 58, 64);
    color: rgb(238, 238, 238);
    
    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 0;
}